{{ define "main" }}
<article class="post">
    <header>
        <h2>{{ .Title }}</h2>
        <p>
            {{ .Params.Author }}
        </p>
        <p>
            Posted {{ .Date.Format "January 2, 2006"}}
            <span class="tags">
                in
                {{ range .Params.tags }}
                    <a href="/tags/{{ . | urlize}}" class="tag">{{ . }}</a>
                {{ end }}
            </span>
        </p>
        <p>
            Reading time: {{ math.Round (div (countwords .Content) 200.0) }} minutes
        </p>
    </header>

    <section class="body">
        {{ .Content }}
    </section>
</article>
{{ end }}